<p id="notice"><%= notice %></p>

<p>
  <strong>Tipomerc:</strong>
  <%= @merc.TipoMerc_id %>
</p>

<p>
  <strong>Merc nome:</strong>
  <%= @merc.merc_nome %>
</p>

<p>
  <strong>Qtde:</strong>
  <%= @merc.qtde %>
</p>

<p>
  <strong>Preco:</strong>
  <%= @merc.preco %>
</p>

<p>
  <strong>Tiponeg:</strong>
  <%= @merc.TipoNeg_id %>
</p>


     <center><a href="/mercs" class="a"><span style="color: #54cdc3"> Voltar </span></a></center>